.armorClassContainer, .HealthPointsContainer{
    position: relative;
    
}
.hitPointsLabel, .ArmorClassLabel {
    font-size: 1.5vw;
}

.hitPointsLabel{
    margin-left: .15vw;
}

.ArmorClassLabel {
    margin-left: -.2vw
}
.armorClass{
    position: relative;
    top: 2.1vw;
    left: 1.3vw;
    color:#f3f2ef;
}
.hitPoints{
    position: relative;
    top: 2.2vw;
    left: 2.2vw;
    color:#f3f2ef !important;
}
.armorClassImg  {
    height:9vw;
    width: 8vw;
    
    position: absolute;
    margin-right: .7rem;
    margin-bottom: 2vw;
    margin-left: -.5vw;
    margin-top: -.5vw;
}

.armorClassTextArea{
    position: relative;
    bottom: 4.7vw;
    left: 1.7vw;
    height: 2vw;
    width: 2vw;
    color:#f3f2ef;
    resize:none;
}
.hitPointsImage{
    height:8vw;
    width: 8vw;
    background-color: #222f2f;
    position: absolute;
    margin-right: .7rem;
    margin-bottom: 2vw;
    margin-left: -.5vw;
}
.hitPointsTextArea{
    position: relative;
    bottom: 49.25rem;
    left: 2.63rem;
    height: 2vw;
    width: 3vw;
    color:#f3f2ef;
    resize:none;
}
.hitPointsText  {
    font-size: 2vw;;
}
.armorClassText{
    font-size: 1.5vw;;
}
*{
    font-size: 1vw;
}

.skillBonuses{
    line-height: 1vw !important;
}

.experience{
    margin-bottom: 1vw !important;
}

.characterName, .characterDescription, .characterLevel, .characterAlignment, .characterSkills, .characterProficiency, .characterSpellcastingAbility, .characterSpellSaveDC, .characterSpellAttackBonus, .characterExperience{
margin-left: 1vw;
margin-bottom: .8vw;
}

.characterName{
    margin-top: 2vw;
    font-size: 2.5vw;
}

.characterNameText{
    font-size: 1.6vw;;
}
.characterDescription {
    margin-top: 2vw;
}
.strengthCol {
    margin-left:1vw;
}

.profileImage{
    height:4vw;
    width: 4vw;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: .8rem;
    background-color: #f3f2ef;
    border: 2vw;
    border-color: darkred;
}



.skillRow{
    width: 100%;
    margin-left: 2vw;
    margin-top: 5vw;
}

  .characterConstitution{
    margin-top: 10vw;
}

.characterStrength{
    text-align: center;
    margin-top: 2vw;
}
.strengthNumber{
    font-size: 2vw;
    text-align: center;
}
.characterDexterity{
    margin-top: 7.4vw;
}

.characterIntelligence, .characterWisdom, .characterCharisma{
    margin-top: 10vw;
}

.characterInitiative{
    margin-top: 5vw;
}

.armorClassText{
    position: relative;
}

.infoCol{
    background-color: #222F2f;
    
    color: #f3f2ef;
}

.profileStatRow {
    margin-left: 11vw !important;
}

.profileCard{
    width: 12vw;
    height: 10vw;
    margin-left: -2.5vw;
    background-color: #222f2f !important;
    margin-top: 8vw;
}
.profileCardBonus{
    width: 5vw;
    height: 3vw;
    margin-left: .9vw;
    background-color: #222f2f !important;
    margin-top: -.2vw;
}
.profileCardBody{
    background-color: #f3f2ef!important;
    color: #222f2f;
    padding: 0rem !important;
    margin: .2rem;
}
.profileCardBodyBonus{
    background-color: tomato !important;
    padding: 0rem !important;
    color: #f3f2ef;
    margin: .2rem;
}

.characterStrengthBonus{
    margin-left: 1vw;
    margin-top: .3vw;
}

.profileCardRow2{
    width: 12vw;
    height: 10vw;
    margin-left: -2.5vw;
    background-color: #222f2f !important;
    margin-top: 3vw !important;
}
.profileCardBodyRow2{
    background-color: #f3f2ef!important;
    color: #222f2f;
    padding: 0rem !important;
    margin: .2rem;
}

.profileCardMiddle{
    width: 12vw;
    height: 10vw;
    margin-left: -2.5vw;
    background-color: #222f2f  !important;
    margin-top: 7.75vw;
}

.profileCardEnd{
    width: 12vw;
    height: 10vw;
    margin-left: -2.5vw;
    background-color: #222f2f  !important;
    margin-top: 8.7vw;
}

.skillBonusCard{
    background-color: #222f2f !important;
    color: #f3f2ef
}