.armorClassContainer, .HealthPointsContainer{
    position: relative;
    
}
.hitPointsLabel, .ArmorClassLabel {
    font-size: 1.5vw;
}
.armorClassCol{
    padding: 0vw !important;
    
}
.hitPointsLabel{
    margin-left: -.2vw;
}

.ArmorClassLabel {
    margin-left: -1.5vw !important;
}
.armorClass{
    position: relative;
    top: 2.1vw;
    left: 1.3vw;
    color:#f3f2ef;
}
.hitPoints{
    position: relative;
    top: 2.2vw;
    left: 2.3vw;
    color:#f3f2ef !important;
}
.armorClassImg  {
    height:9vw;
    width: 8vw;
    z-index: -1;
    position: absolute;
    margin-right: .7rem;
    margin-bottom: 2vw;
    margin-left: -.5vw;
    margin-top: -.5vw;
}

.armorClassTextArea{
    position: relative;
    bottom: 4.7vw;
    left: 1.7vw;
    height: 2vw;
    width: 2vw;
    color:#f3f2ef;
    resize:none;
}
.hitPointsImage{
    height:8vw;
    width: 8vw;
    background-color: #222f2f;
    position: absolute;
    margin-right: .7rem;
    margin-bottom: 2vw;
    margin-left: -.5vw;
}
.hitPointsTextArea{
    position: relative;
    bottom: 49.25rem;
    left: 2.63rem;
    height: 2vw;
    width: 3vw;
    color:#f3f2ef;
    resize:none;
}
.hitPointsText  {
    font-size: 2vw;
    text-align: center;
}
.armorClassText{
    font-size: 1.5vw;;
}
*{
    font-size: 1vw;
}

.skillBonuses{
    line-height: 1vw !important;
}

.experience{
    margin-bottom: 1vw !important;
}

.characterName,  .characterLevel, .characterAlignment, .characterSkills, .characterProficiency, .characterSpellcastingAbility, .characterSpellSaveDC, .characterSpellAttackBonus, .characterExperience{
margin-left: 1vw;
margin-bottom: 1.5vw;
}

.characterName{
    margin-top: 2vw;
    font-size: 2.5vw;
}

.characterNameText{
    font-size: 1.6vw;;
}
.characterDescription {
    margin-top: 2vw;
}


.profileImage{
    height:4vw;
    width: 4vw;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: .8rem;
    background-color: #f3f2ef;
    border: 2vw;
    border-color: darkred;
}



.skillRow{
    width: 95%;
    margin-left: 1.5vw !important;
    margin-top: 5vw;
    background-color: #222f2f !important;
}

  .characterConstitution{
    margin-top: 10vw;
}

.characterStrength{
    text-align: center;
    margin-top: 2vw;
}
.strengthNumber{
    font-size: 2vw;
    text-align: center;
}
.characterDexterity{
    margin-top: 7.4vw;
}

.characterIntelligence, .characterWisdom, .characterCharisma{
    margin-top: 10vw;
}

.characterInitiative{
    margin-top: 5vw;
}

.armorClassText{
    position: relative;
}

.infoCol{
    background-color: #222F2f;
    
    color: #f3f2ef;
}

.profileStatRow {
    margin-left: 11vw !important;
}

.profileCard{
    width: 12vw;
    height: 10vw;
    margin-left: -2.5vw;
    background-color: #222f2f !important;
    margin-top: 8vw;
}
.profileCardInitiative{
    width: 8vw;
    height: 4vw;
    margin-left: -.25vw;
    background-color: #222f2f !important;
    margin-top: 4vw;
    margin-bottom: -1.85vw;
}
.profileCardBonus{
    width: 5vw;
    height: 3vw;
    margin-left: .9vw;
    background-color: #222f2f !important;
    margin-top: -.2vw;
}
.profileCardBody{
    background-color: #f3f2ef!important;
    color: #222f2f;
    padding: 0rem !important;
    margin: .2rem;
}
.profileCardBodyBonus{
    background-color: tomato !important;
    padding: 0rem !important;
    color: #f3f2ef;
    margin: .2rem;
}

.characterStrengthBonus{
    margin-left: 1.1vw;
    margin-top: .3vw;
}

.profileCardRow2{
    width: 12vw;
    height: 10vw;
    margin-left: -2.5vw;
    background-color: #222f2f !important;
    margin-top: 3vw !important;
}
.profileCardBodyRow2{
    background-color: #f3f2ef!important;
    color: #222f2f;
    padding: 0rem !important;
    margin: .2rem;
}

.profileCardMiddle{
    width: 12vw;
    height: 10vw;
    margin-left: -2.5vw;
    background-color: #222f2f  !important;
    margin-top: 7.75vw;
}

.profileCardEnd{
    width: 12vw;
    height: 10vw;
    margin-left: -2.5vw;
    background-color: #222f2f  !important;
    margin-top: 8.7vw;
}

.skillBonusCard{
    background-color: transparent!important;
    color: #f3f2ef;
    border-color: transparent !important;
}

.strengthCol, .dexterityCol, .intelligenceCol, .wisdomCol{
   border-right: solid;
   border-color: #f3f2ef;
}

.strengthSkillTitle, .dexteritySkillTitle, .intelligenceSkillTitle, .wisdomSkillTitle, .charismaSkillTitle {
    font-family: rieven-uncial, sans-serif;
    margin-top: .5vw;
}
.characterInitiativeTitle{
    font-family: rieven-uncial, sans-serif;
    margin-bottom: -2vw;
    font-size: 1.5vw;
    margin-left: 0vw;
}
.characterStrength, .hitPointsLabel, .ArmorClassLabel{
    font-family: rieven-uncial, sans-serif;
}

.initiativeNumber{
    color: #222f2f;
    font-size: 2vw;
    text-align: center;
}

.profileCardBodyInitiative{
    background-color: #f3f2ef!important;
    color: #222f2f;
    padding: 0rem !important;
    margin: .2rem;
}

.profileStatCol {
overflow-x: scroll !important;
}

.infoCol{
    overflow-x: hidden !important;
}

.characterDescription, .characterLevel, .characterAlignment, .characterSkills, .characterProficiency, .characterSpellcastingAbility, .characterSpellSaveDC, .characterSpellAttackBonus, .characterExperience{
    font-size: 1.2vw;
    font-family: rieven-uncial, sans-serif;
}

.infoText {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

    margin-left: .5vw;
}

.infoTextSkills {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

  
}

.characterNameEdit{
    height: 3vw ;
    width: 17vw !important;
    font-size: 1.6vw !important;
    margin-bottom: -.98vw;
    margin-top: 0vw !important;
    margin-left: -.16vw !important;
    background-color: #222f2f;
    color: #f3f2ef;
    border-color: #f3f2ef;
    
}

.infoTextDesc{
    margin-left: 1vw !important;
    height: 15vw !important;
    text-overflow: scroll;
}
.characterDescriptionDiv{
    height: 10vw;
    margin-left: 1vw;
    overflow-y: scroll;
    scrollbar-color: dark !important;
}
.characterDescription{
    margin-top: -.3vw;
    margin-left: 1vw;
    margin-bottom: 0vw;
}
.characterDescriptionEdit{
    font-size: 1vw;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    height: 10vw;
    margin-left: 1vw;
    width: 22vw;
    background-color: #222f2f;
    color: #f3f2ef;
    border-color: #f3f2ef;
    margin-bottom: -.3vw;;
    
}
    
.characterInfoEdit{
    height: 2vw;
    font-size: 1vw;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-color: #222f2f;
    color: #f3f2ef;
    border-color: #f3f2ef;
    resize: none;
    margin-left: .3vw;
    margin-bottom: -.65vw;
    width: 7vw;
}

.hitPointsEdit{
    background-color: #222f2f;
    color: #f3f2ef;
    border-color: #f3f2ef;
    resize: none;
    font-size: 2vw;
    width: 4.5vw;
    height: 3.5vw;
    margin-left: -1.2vw;
    margin-top: -.19vw;
   
    text-align: center;
}

.statTextEdit{
    background-color: #f3f2ef;
    color: #222f2f;
    border-color: #222f2f;
    resize: none;
    width: 4vw;
    height: 4vw;
    text-align: center;
    margin-top: -.2vw;
}

.profileCardEdit{
    width: 12vw;
    height: 10vw;
    margin-left: -2.5vw;
    background-color: #222f2f !important;
    margin-top: 6.6vw;
}

.statTextEditMiddle{
    background-color: #f3f2ef;
    color: #222f2f;
    border-color: #222f2f;
    resize: none;
    width: 4vw;
    height: 4vw;
    text-align: center;
    margin-top: -.15vw;
}

.armorClassTextEdit{
    background-color: #222f2f;
    color: #f3f2ef;
    border-color: #f3f2ef;
    resize: none;
    font-size: 1.5vw;
    width: 3vw;
    height: 2.8vw;
    margin-left: .6vw;
    margin-top: 1.9vw;
   
    text-align: center;
}


.statTextEditEnd{
    background-color: #f3f2ef;
    color: #222f2f;
    border-color: #222f2f;
    resize: none;
    width: 4vw;
    height: 4vw;
    text-align: center;
    margin-top: -.17vw;
}

.profileCardEditEnd{
    width: 12vw;
    height: 10vw;
    margin-left: -2.5vw;
    background-color: #222f2f !important;
    margin-top: 5.9vw;
}



.profileEditBtn{
    background-color: tomato !important;
    color: #f3f2ef !important;
    font-style: bold !important;
    border-color: tomato !important;
    height: 3vw;
    margin-left: -9vw;
    margin-right: 3.8vw;
}