.classCardBody {
    width: 12vw;
    height: 17vw;
    flex: 0, 0, 20%;
    flex-wrap: wrap;
    justify-content: space-around;
    
    position: relative;
    transition: 1.5s;
    transform-style: preserve-3d;
    padding: 0vw !important;
}

.classCardBodyBarbarian{
    background-color: #d67a45 !important;
}
.classCardBodyBard{
    background-color: #c369bf !important;
}
.classCardBodyCleric{
    background-color: #79848d !important;
}
.classCardBodyDruid{
    background-color: #62af3e !important;
}
.classCardBodyFighter{
    background-color: #72170f !important;
}
.classCardBodyMonk{
    background-color: #61c0c3 !important;
}
.classCardBodyPaladin{
    background-color: #dee94b !important;
}
.classCardBodyRanger{
    background-color: #1c4b22 !important;
}
.classCardBodyRogue{
    background-color: #272a27 !important;
}
.classCardBodySorcerer{
    background-color: #b47421 !important;
}
.classCardBodyWarlock{
    background-color: #8444a1 !important;
}
.classCardBodyWizard{
    background-color: #3c53b8 !important;
    
}


.classCardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90% !important;
    height: auto;
    margin-top: 2vw;
    padding-bottom: 2vw;
    margin-left: 6.8vw !important;
    background-color: #f3f2ef;
}

.classContainer {
    background-color: #f3f2ef;
    margin-top: -2.5vw;
    padding-bottom: 1.5vw !important;
}

.classCard{
    width: 12vw;
    height: 17vw;
    background-color: #efede7 !important;
    perspective: 1000px;
    background-color: transparent;
   
   
}

.classCard:hover .classCardBody {
    transform: rotateY(180deg);
}

.cardBack, .cardFront {
position: absolute;
-webkit-backface-visibility: hidden; 
backface-visibility: hidden;
border-radius: 5%;

}

.cardFront {

    left: 1vw;
    background-color:#efede7;
    bottom: 1vw;
    width: 10vw !important;
height: 15vw !important;

}

.cardBack {
    transform: rotateY(180deg);
    bottom: 1vw;
    right: 1vw;
    width: 10vw !important;
    height: 15vw !important;
    background-color:#efede7;
    
}

.classCardTitleBack {
    color: black;
}
.classCardTitleFront {
 
    color: black;
    margin-top: 2vw;
}

.cardDescriptionClass{

    color: black;
    margin-right: .2vw;
    font-size: .8vw !important;
}

.classCardImg{
    margin-top: 1vw;
    height: 4vw !important;
    width: 4vw !important;
}

.classTitle{
    text-align: center;
    margin-top: 2vw;
}

.html{
    background-color: #efede7 !important;
}
.characterCreationProgress{
    width:75%;
    margin-left: 12vw;
    background-color: #222F2F !important;
    margin-top: 2.5vw;

}

.characterCreationProgressClass{
    width:75%;
    margin-left: 12vw;
    background-color: #222F2F !important;
    margin-top: 5vw;

}