.raceCardBodyBarbarian {
    width: 12vw;
    height: 17vw;
    flex: 0, 0, 20%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #b42525 !important;
    position: relative;
    transition: 1.5s;
    transform-style: preserve-3d;
    
    
}.raceCardBodyBard {
    width: 12vw;
    height: 17vw;
    flex: 0, 0, 20%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #d195ce !important;
    position: relative;
    transition: 1.5s;
    transform-style: preserve-3d;
    
    
}.raceCardBodyCleric {
    width: 12vw;
    height: 17vw;
    flex: 0, 0, 20%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #79848d !important;
    position: relative;
    transition: 1.5s;
    transform-style: preserve-3d;
    
    
}.raceCardBodyDruid {
    width: 12vw;
    height: 17vw;
    flex: 0, 0, 20%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #65814c !important;
    position: relative;
    transition: 1.5s;
    transform-style: preserve-3d;
    
    
}




.raceCardBodyFighter {
    width: 12vw;
    height: 17vw;
    flex: 0, 0, 20%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #3f130d !important;
    position: relative;
    transition: 1.5s;
    transform-style: preserve-3d;
    
    
}
.raceCardBodyMonk {
    width: 12vw;
    height: 17vw;
    flex: 0, 0, 20%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #61c0c3 !important;
    position: relative;
    transition: 1.5s;
    transform-style: preserve-3d;
    
    
}
.raceCardBodyPaladin {
    width: 12vw;
    height: 17vw;
    flex: 0, 0, 20%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #b6ab4b !important;
    position: relative;
    transition: 1.5s;
    transform-style: preserve-3d;
    
    
}
.raceCardBodyRanger {
    width: 12vw;
    height: 17vw;
    flex: 0, 0, 20%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #1c4b22 !important;
    position: relative;
    transition: 1.5s;
    transform-style: preserve-3d;
    
    
}
.raceCardBodyRogue {
    width: 12vw;
    height: 17vw;
    flex: 0, 0, 20%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #272a27 !important;
    position: relative;
    transition: 1.5s;
    transform-style: preserve-3d;
    
    
}
.raceCardBodySorcerer {
    width: 12vw;
    height: 17vw;
    flex: 0, 0, 20%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #d86a1c !important;
    position: relative;
    transition: 1.5s;
    transform-style: preserve-3d;
    
    
}
.raceCardBodyWarlock {
    width: 12vw;
    height: 17vw;
    flex: 0, 0, 20%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #8444a1 !important;
    position: relative;
    transition: 1.5s;
    transform-style: preserve-3d;
    
    
}
.raceCardBodyWizard {
    width: 12vw;
    height: 17vw;
    flex: 0, 0, 20%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #4c63ce !important;
    position: relative;
    transition: 1.5s;
    transform-style: preserve-3d;
    
    
}

.raceCardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80% !important;
    height: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 13vw !important;
    background-color: #f3f2ef;
}

.raceContainer {
    background-color: #f3f2ef;
}

.raceCard{
    width: 12vw;
    height: 17vw;
    background-color: #f3f2ef !important;
    perspective: 1000px;
    background-color: transparent;
   
   
}

.raceCard:hover .raceCardBody{
    transform: rotateY(180deg);
}

.cardBack, .cardFront {
position: absolute;
-webkit-backface-visibility: hidden; 
backface-visibility: hidden;
border-radius: 5%;

}

.cardFront {
    left: 1vw;
    background-color:#f3f2ef;
    bottom: 1vw;
    width: 10vw !important;
height: 15vw !important;
}

.cardBack {
    transform: rotateY(180deg);
    bottom: 1vw;
    right: 1vw;
    width: 10vw !important;
    height: 15vw !important;
    background-color:#f3f2ef;
}
.raceCardTitleFront {
    
    color: black;
    margin-top: 2vw;
}

.raceCardTitleBack {
    
    color: black;
}
.cardDescriptionRace{
    color: black;
    margin-right: .2vw;
    font-size: .7vw;
}

.characterCreationProgress, .progress{
    color: tomato !important;
}
.raceCardImg{
    margin-top: 1vw;
    height: 4vw !important;
    width: 4vw !important;
}

.raceTitle{
    text-align: center;
    margin-top: 1.5vw;
}
