.raceCardBody {
    width: 12vw;
    height: 17vw;
    flex: 0, 0, 20%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #72170f !important;
    position: relative;
    transition: 1.5s;
    transform-style: preserve-3d;
    
    
}

.raceCardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80% !important;
    height: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 13vw !important;
    background-color: #efede7;
}

.raceContainer {
    background-color: #efede7;
}

.raceCard{
    width: 12vw;
    height: 17vw;
    background-color: #efede7 !important;
    perspective: 1000px;
    background-color: transparent;
   
   
}

.raceCard:hover .raceCardBody {
    transform: rotateY(180deg);
}

.cardBack, .cardFront {
position: absolute;
-webkit-backface-visibility: hidden; 
backface-visibility: hidden;
border-radius: 5%;

}

.cardFront {
    left: 1vw;
    background-color:#efede7;
    bottom: 1vw;
    width: 10vw !important;
height: 15vw !important;
}

.cardBack {
    transform: rotateY(180deg);
    bottom: 1vw;
    right: 1vw;
    width: 10vw !important;
    height: 15vw !important;
    background-color:#efede7;
}
.raceCardTitleFront {
    
    color: black;
    margin-top: 2vw;
}

.raceCardTitleBack {
    
    color: black;
}
.cardDescription{
    color: black;
    margin-right: .2vw;
    font-size: .7vw;
}

.characterCreationProgress, .progress{
    color: tomato !important;
}
.raceCardImg{
    margin-top: 1vw;
    height: 4vw !important;
    width: 4vw !important;
}

.raceTitle{
    text-align: center;
    margin-top: 1.5vw;
}
