.defaultCardBody {
    background-color: #e7eeef;
    border-radius: 5%;
    margin: 1rem;
    padding: 0rem !important;
    
}
.customCardBody {
    background-color: #e7eeef;
    border-radius: 5%;
    margin: 1rem;
    padding: 0rem !important;
    
}



.orTitle{
    color: #222f2f;
    margin-left: 5vw;
    
    font-size: 3vw;
    margin-top: 12vw;
    margin-bottom: 5vw;
}

.defaultCardFighter {
    width: 14vw;
    height: 20vw;
    background-color: #6d1d13 !important;
    perspective: 1000px;
   
    margin-left: 27vw;
    margin-right: 2vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
   
}
.customCardFighter{
    width: 14vw;
    height: 20vw;
    background-color: #6d1d13 !important;
    perspective: 1000px;
   
    margin-left: 7vw;
    margin-right: 2vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
   
   
}



.defaultBack, .defaultFront {
position: absolute;
-webkit-backface-visibility: hidden; 
backface-visibility: hidden;

}
.customBack, .customFront {
position: absolute;
-webkit-backface-visibility: hidden; 
backface-visibility: hidden;

}



.defaultCardTitleFront {
    margin-top: 1vw;
    color: black;
}


.defaultCardDescription{
 
    color: black;
}

.customCardTitleFront {
    margin-top: 1vw;
    color: black;
}


.customCardDescription{
   
    color: black;
}




.choiceContainer {
    height: 100%;
}

.defaultCardImg, .customCardImg{
    margin-top: 1vw;
    height: 4vw !important;
    width: 4vw !important;
}