.logoImg{
    height: 5vw;
    
}
.nav-Container{
    list-style-type: none;
    background-color: #222F2F;
}

.LogoutNavLink, .CharacterProfileLink, .SpellBookNavLink, .InventoryLink{
    color: #efede7;
    
}

.profileList{
    margin-top: 1.5vw;
    font-style: bold;
    margin-left: 1.5vw;
}

.logoutList{
    margin-top: 1.5vw;
    font-style: bold;
}
.userNameTitle{
    margin-top: 1.5vw;
    margin-left: 5vw;
    color: #efede7;
}