.logoImg{
    height: 5vw;
    
}
.nav-Container{
    list-style-type: none;
    background-color: #222F2F;
}

.LogoutNavLink{
    color: #efede7;
    
}

.logoutList{
    margin-top: 1.5vw;
    font-style: bold;
}
.userNameTitle{
    margin-top: 1.5vw;
    margin-left: 5vw;
    color: #efede7;
}