.red{
    background-color: tomato !important;
    border-radius: 50% !important;
    color: #efede7 !important;
    
}
.material-icons{
    color: #f3f2ef;
    background-color: tomato !important;
}

.friendCardRow{
    background-color: #262B2F;
    
}
.friendCardRow:hover{
    background-color: #4a4e5293 !important
}

.friendCardText {
    margin-top: .3vw;
    margin-left: -.5vw;
    background-color: #262B2F;
    color: #f3f2ef;
}

.delete-friend-btn{
    padding-right: -.2vw;
    margin-left: .2vw;;
    width:3vw;
    height: 2.5vw;
    border-color: tomato !important;
    font-family: rieven-uncial, sans-serif;
}
.material-icons{
    margin-right: .5vw;
    width:.8vw !important;
    height:.8vw !important;
    font-size:1.5vw;
}
.friendCol {
    background-color: #262B2F;
}

.friendColDashboard{
    width:90% !important;
}

.FriendCardBody {
    padding: 0vw !important;
    background-color: #262B2F !important;
}
.friendImage{
    height:2vw;
    width: 2vw;
    margin-top: .25vw;
    margin-left: -.3vw;
    margin-right: .8vw;
    background-color: #f3f2ef;
   
}


