.blue{
    background-color: tomato !important;
    border-radius: 0% !important;
    color: #efede7 !important;
    
}
*{
    color: white;
}
textarea {
    background-color: #222F2F ;
    border-color: transparent;
}