.blue{
    background-color: tomato !important;
    border-radius: 0% !important;
    color: #efede7 !important;
    
}

.DashboardCardBody {
    
   
    background-color: #f3f2ef;
    border-radius: 5%;
    margin: 1rem;
    padding: 0rem !important;
    
    
}

.DashboardCardText {
    text-align: center;
    margin-top: 3vw;
    font-size: 1.5vw;
    font-family: rieven-uncial, sans-serif;
}

.FriendCardBody {
    
   
    
    background-color: #34413d;
    
    
}
.cardAddTitle {
    font-size: 4vw;
    text-align: center;
    margin-top: 5vw;
    color: #262b2f91;
    background-color: transparent !important;
}

.startNewCharacterCardBody{
    background-color: #f3f2ef !important;
    padding: 0rem !important;
    margin: .2rem;
}
.startNewCharacterCardBody:hover{
    background-color: #f3f2efef !important;
}

.startNewCharacterCard{
    width: 14vw;
    height: 20vw;
    margin-left: auto;
    background-color: #262b2f5d !important;
  
    
}
.DashboardContainerBarbarian{
   

    width: 14vw;
    height: 20vw;
    margin-left: auto;
    background-color: #d67a45 !important;
   filter: drop-shadow(.25vw .25vw .25vw #676969);
    
    
    
}
.DashboardContainerBard{
   

    width: 14vw;
    height: 20vw;
    margin-left: auto;
    background-color: #c369bf !important;
    filter: drop-shadow(.25vw .25vw .25vw #676969);
   
    
    
    
}
.DashboardContainerCleric{
   

    width: 14vw;
    height: 20vw;
    margin-left: auto;
    background-color: #79848d !important;
    filter: drop-shadow(.25vw .25vw .25vw #676969);
   
    
    
    
}
.DashboardContainerDruid{
   

    width: 14vw;
    height: 20vw;
    margin-left: auto;
    background-color: #62af3e !important;
    filter: drop-shadow(.25vw .25vw .25vw #676969);
   
    
    
    
}
.DashboardContainerFighter{
   

    width: 14vw;
    height: 20vw;
    margin-left: auto;
    background-color: #5f140d !important;
    filter: drop-shadow(.25vw .25vw .25vw #676969);
   
    
    
    
}
.DashboardContainerMonk{
   

    width: 14vw;
    height: 20vw;
    margin-left: auto;
    background-color: #61c0c3 !important;
    filter: drop-shadow(.25vw .25vw .25vw #676969);
   
    
    
    
}
.DashboardContainerPaladin{
   

    width: 14vw;
    height: 20vw;
    margin-left: auto;
    background-color: #dee94b !important;
    filter: drop-shadow(.25vw .25vw .25vw #676969);
   
    
    
    
}
.DashboardContainerRanger{
   

    width: 14vw;
    height: 20vw;
    margin-left: auto;
    background-color: #1c4b22 !important;
    filter: drop-shadow(.25vw .25vw .25vw #676969);
   
    
    
    
}
.DashboardContainerRogue{
   

    width: 14vw;
    height: 20vw;
    margin-left: auto;
    background-color: #272a27 !important;
    filter: drop-shadow(.25vw .25vw .25vw #676969);
   
    
    
    
}
.DashboardContainerSorcerer{
   

    width: 14vw;
    height: 20vw;
    margin-left: auto;
    background-color: #d86a1c !important;
    filter: drop-shadow(.25vw .25vw .25vw #676969);
   
    
    
    
}
.DashboardContainerWarlock{
   

    width: 14vw;
    height: 20vw;
    margin-left: auto;
    background-color: #8444a1 !important;
    filter: drop-shadow(.25vw .25vw .25vw #676969);
   
    
    
    
}
.DashboardContainerWizard{
   

    width: 14vw;
    height: 20vw;
    margin-left: auto;
    background-color: #3c53b8 !important;
    filter: drop-shadow(.25vw .25vw .25vw #676969);
   
    
    
    
}

.mainRow{
background-color: #f3f2ef !important;

}
body{
    background-color: #f3f2ef !important;
}
.delete-Character-btn {
margin-left: 6.3vw;
margin-top: 1vw;
margin-bottom: 2vw;
}

.friendColDashboard{
    margin-left: 7.79vw;
}

.dashboardCardImage {
    height:4vw;
    width: 4vw;
    margin-top: 2vw;
    margin-left: 4vw;
    margin-right: .8rem;
    background-color: #f3f2ef;
    border: 2vw;
    border-color: darkred;
    box-shadow: 0 4px 12px 0 #6b6b6b, 0 2px 10px 0 #727272
}

html {
    overflow-x: hidden;
}