


.loginContainer {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: #222F2F
    

}

.loginButton.btn.btn-custom {
    background-color: tomato !important;
    color: #efede7;
    
}
.registerButton.btn.btn-secondary {
    background-color: tomato;
    color: #efede7;
    margin-top: 3.75rem;
    margin-left: 7rem;
   
}

.loginButton {
    margin-left: 23rem;
}

.loginForm.form-control {
    background-color: #efede7;
    margin-left: 1rem; 
}

.loginUsernameLabel, .loginPasswordLabel{
    margin-left: 1rem;
}

.loginWelcome.card-title, .loginWelcomeSub.card-subtitle, .loginUsernameLabel, .loginPasswordLabel  {
    color: #262B2F; 
}

.loginLogo {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20rem !important;
}

.loginCard {
    width: 60rem;
    border: 2px solid #efede7 !important;
    border-radius: 6px !important;
    background-color: #efede7!important;
    
    
} 

.loginWelcomeSub {
   text-align: center !important;
   margin-top: 0vw!important;
   margin-bottom: 2vw !important;
   font-size: 2vw;
   font-family: rieven-uncial, sans-serif;
   
}
.loginWelcome {
    margin-top: -2rem;
}

.loginWelcomeSub.card-subtitle.h6 {
    margin-bottom: 3rem !important;
}



