.registerWelcome, .registerUsernameLabel, .registerEmailLabel, .registerPasswordLabel, .registerPasswordConfirmationLabel{
    color: #efede7;
}

.registerContainer{
    background-color: #222F2F;
    display: flex;
    justify-content: center;
    margin-top: 12rem;
    margin-bottom: 2rem;
}


.registrationCardBody {
    margin: 10vw, 0vw, 0vw, 10vw;
}

.registrationCard {
    width: 60rem;
    border: 2px solid #394141 !important;
    border-radius: 6px !important;
    background-color: #394141 !important;
  
    
}