.registerWelcome, .registerUsernameLabel, .registerEmailLabel, .registerPasswordLabel, .registerPasswordConfirmationLabel{
    color: #262B2F;
}
.registerWelcome {
    text-align: center;
    font-size: xx-large;
    font-family: rieven-uncial, sans-serif;
}
.registerContainer{
    background-color: #222F2F;
    display: flex;
    justify-content: center;
    height: 100% !important;
}


.registrationCardBody {
    margin: 10vw, 0vw, 0vw, 10vw;
}

.registrationCard {
    width: 60rem;
    border: 2px solid #efede7!important;
    border-radius: 6px !important;
    background-color: #efede7!important;
    margin-bottom: 4vw;
    margin-top: 4vw
    
}
.registrationLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20rem !important;
}

.registrationButton {
    background-color: tomato !important;
}