.hitCardBody, .hitCardBody2 {
    width: 12vw;
    height: 17vw;
    flex: 0, 0, 20%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff8ea;
    position: relative;
    transition: 1.5s;
    transform-style: preserve-3d;
    
    
}

.rollButton1
.hits{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 80% !important;
    height: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 5vw;
    background-color: #222F2F;

}


.showButton{
    background-color: #af2121 !important;
    color: #efede7 !important;
    margin-left: 4vw;
    margin-top: 1vw;
    width: 3vw
}
.showButton2{
    background-color: #af2121 !important;
    color: #efede7 !important;
    margin-left: 10.5vw;
    margin-top: 1vw;
    width: 3vw
}

.hitContainer {
    background-color: #222F2F;
}

.hitCard{
    width: 12vw;
    height: 17vw;
    background-color: #efede7;
    perspective: 1000px;
    background-color: transparent;
   
   
}

.animation {
    transform: rotateY(180deg);
}

.cardBack, .cardFront {
position: absolute;
-webkit-backface-visibility: hidden; 
backface-visibility: hidden;

}

.cardFront {
    width: 100%;
height: 100%;
}

.cardBack {
    transform: rotateY(180deg);
}
.hitCardTitleFront {
    margin-left: -2vw;
    color: black;
}
.hitCardTitleBack {
    color: black;
}

.hitPointDescription{
    padding-left: .4vw;
    color: black;
}


